## Análisis del Rendimiento Académico Estudiantil



### Objetivo del análisis

Este proyecto tiene como objetivo analizar distintos factores asociados al rendimiento académico de estudiantes universitarios. Se exploran variables sociodemográficas, hábitos de estudio, salud mental, acceso a recursos y desempeño en general, con el fin de identificar patrones o relaciones útiles para la toma de decisiones educativas.

### Integrantes del equipo

* Melania Ligorria
* Miguel Rojas
* Federico Córdoba
* Adriel Delosanto
* Florencia Andrada
* Guadalupe Mendoza
* Noelia Soto
* Liliana Elizabet Lamas

### Link al reporsitorio GITHUB del equipo

[GitHub](https://github.com//adriel1364/Analisis_25)

## IMPORTACION DE LOS DATOS

Es importante tener instaladas las librerias de Numpy y Pandas.
La funcion read_csv de Pandas es la que permite cargar el dataframe

In [ ]:
import pandas as pd
import numpy as np

Integrar Google Drive con Colab para acceder y leer el archivo CSV almacenado en la nube.

In [ ]:
# Montar Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Leer el archivo CSV (desde Drive)
df = pd.read_csv('/content/drive/My Drive/AnalisisdeDatosISPC2025/DataSet_Rendimiento_Estudiantes.csv')

Mounted at /content/drive

## Visualización de las primeras 10 filas

Incorporamos este aspecto porque mejora la visualización al presentar los datos con la estructura original del DataFrame (filas y columnas), lo que permite desplazarse de manera fluida mediante barras de scroll horizontales y verticales.

In [ ]:
df.head (10)

,student_ulid,first_name,last_name,student_id,gender,age,email,address,phone,major,gpa,attendance_rate,mental_health_status,study_hours_per_week,extracurricular_participation,scholarship,internet_access,sleep_hours_per_night
0,01JSJW8GB9GFDGKT3R63J7NWSM,Reeba,Francesch,2.296751e+08,Genderqueer,58.0,rfrancesch0@state.gov,5 Coleman Hill,(161) 8707438,Architecture,2.80,73.0,Good,22.0,True,False,NaN,NaN
1,01JSJW8GBCDQ03EJ7XTYD2ATTZ,Meade,Fedorchenko,9.423870e+09,Male,54.0,mfedorchenko1@dell.com,75159 Mcbride Place,(937) 5176332,Law,1.72,63.0,Good,30.0,True,False,True,5.0
2,01JSJW8GBEA636S3CRYQYFVM54,Elle,Slimm,5.731077e+09,Female,25.0,eslimm2@gizmodo.com,NaN,(464) 6044481,Administration,0.76,NaN,NaN,30.0,True,True,False,12.0
3,01JSJW8GBF2TK2F4EEDCH3HTBY,Selena,Hugett,3.618530e+08,Female,86.0,shugett3@edublogs.org,3213 Heath Circle,(499) 4575315,Engineering,1.52,75.0,Bad,NaN,True,True,True,9.0
4,01JSJW8GBH5K7RE7CQW5TJRR50,Rozalin,Barks,9.074949e+09,Female,98.0,rbarks4@360.cn,86 Holmberg Street,(964) 2462771,Medicine,3.25,75.0,Bad,0.0,False,True,True,3.0
5,01JSJW8GBJXN0E056TY0Q51MEQ,Richmond,NaN,3.161899e+09,Male,60.0,rcovert5@51.la,6676 Daystar Avenue,(647) 4899125,Student,3.84,73.0,Good,14.0,True,False,NaN,3.0
6,01JSJW8GBMG99WH1B8RMTRK8NB,Hester,Darrel,4.283919e+09,Female,81.0,hdarrel6@buzzfeed.com,0 Superior Circle,(542) 7605201,Administration,1.00,NaN,Bad,5.0,False,False,False,11.0
7,01JSJW8GBPMFJEY0F1HAMPCQZ5,Virgina,Fitch,8.669234e+09,Female,57.0,vfitch7@yelp.com,7885 Ridge Oak Point,NaN,Psychology,0.70,61.0,Bad,NaN,False,False,NaN,NaN
8,01JSJW8GBQ22DPE7XKE29M5EHD,Giusto,Minci,9.685291e+09,Polygender,75.0,gminci8@about.me,6773 Debra Trail,NaN,Student,2.72,71.0,Good,NaN,True,False,False,6.0
9,01JSJW8GBRSZ3JVG361E7V9T7J,Ruby,Dulen,2.469802e+09,Male,93.0,rdulen9@hexun.com,NaN,(968) 5818592,Law,1.01,87.0,Average,9.0,False,False,True,6.0

# Descripcion General de DataSet

##Observaciones iniciales del dataset

El dataset contiene 18 columnas y 1000 registros.
Tipos de datos: 6 columnas numéricas, 12 categóricas.

Las columnas incluyen:

- Identificadores únicos (`student_ulid`, `student_id`)
- Datos personales (`first_name`, `last_name`, `gender`, `age`, `email`, `address`, `phone`)
- Variables académicas (`major`, `gpa`, `attendance_rate`, `study_hours_per_week`)
- Información contextual o complementaria (`mental_health_status`, `extracurricular_participation`, `scholarship`, `internet_access`, `sleep_hours_per_night`)

Los tipos de datos incluyen:
- **Strings**: nombres, género, email, dirección, carrera.
- **Numéricos**: edad, GPA, asistencia, horas de estudio y sueño.
- **Booleanos**: participación extracurricular, beca, acceso a internet.
- Algunas columnas contienen valores faltantes, los cuales se deberán tener en cuenta durante la limpieza y análisis del dataset.

## Informacion General del DataSet

### Muestra tipos de datos y analisis exploratorio del DF

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_ulid                   980 non-null    object
 1   first_name                     1000 non-null   object
 2   last_name                      969 non-null    object
 3   student_id                     978 non-null    float64
 4   gender                         982 non-null    object
 5   age                            973 non-null    float64
 6   email                          882 non-null    object
 7   address                        792 non-null    object
 8   phone                          833 non-null    object
 9   major                          967 non-null    object
 10  gpa                            942 non-null    float64
 11  attendance_rate                887 non-null    float64
 12  mental_health_status           907 non-null    object
 13  study_hours_per_week           833 non-null    float64
 14  extracurricular_participation  942 non-null    object
 15  scholarship                    950 non-null    object
 16  internet_access                906 non-null    object
 17  sleep_hours_per_night          807 non-null    float64
dtypes: float64(6), object(12)
memory usage: 140.8+ KB

Análisis rápido de distribuciones

In [ ]:
df.describe()

,student_id,age,gpa,attendance_rate,study_hours_per_week,sleep_hours_per_night
count,9.780000e+02,973.000000,942.000000,887.000000,833.000000,807.000000
mean,5.017482e+09,59.146968,1.958535,74.647125,20.374550,6.535316
std,2.935483e+09,23.692257,1.161729,14.686512,11.818293,3.517193
min,2.402818e+07,18.000000,0.000000,50.000000,0.000000,1.000000
25%,2.465493e+09,39.000000,0.960000,62.000000,10.000000,3.000000
50%,4.932404e+09,60.000000,1.950000,75.000000,21.000000,7.000000
75%,7.652283e+09,79.000000,2.987500,87.000000,30.000000,10.000000
max,9.993930e+09,99.000000,4.000000,100.000000,40.000000,12.000000

Cantidad de Filas y Columnas del DF

In [ ]:
df.shape #cantidad de filas y columnas del df

(1000, 18)

Cantidad de estudiantes por carrera

In [ ]:
df['major'].value_counts()

major
Student           152
Architecture      148
Engineering       144
Law               135
Psychology        132
Medicine          131
Administration    125
Name: count, dtype: int64

Filas Nulas

In [ ]:
#detectar filas que contienen un valor nulo

filas_nulas = df.isnull().any(axis=1)

print (df[filas_nulas])

numero_filas_nulas = df[filas_nulas].shape[0]
print (f"numero de filas nulas: {numero_filas_nulas}")

indices_filas_nulas = df[filas_nulas].index.tolist()
print(f"Índices de las filas nulas: {indices_filas_nulas}")

                   student_ulid first_name  last_name    student_id  \
0    01JSJW8GB9GFDGKT3R63J7NWSM      Reeba  Francesch  2.296751e+08
2    01JSJW8GBEA636S3CRYQYFVM54       Elle      Slimm  5.731077e+09
3    01JSJW8GBF2TK2F4EEDCH3HTBY     Selena     Hugett  3.618530e+08
5    01JSJW8GBJXN0E056TY0Q51MEQ   Richmond        NaN  3.161899e+09
6    01JSJW8GBMG99WH1B8RMTRK8NB     Hester     Darrel  4.283919e+09
..                          ...        ...        ...           ...
991  01JSJW8J9ETJKE5XMZG8CV5WVV   Wallache   Feldhorn  1.269732e+09
992  01JSJW8J9F3S34NZ5VENKV3W46     Odelia    Fintoph  2.372893e+09
993  01JSJW8J9H8V47NT8DCNSDYF2K      Elena        Han  6.855144e+09
994  01JSJW8J9K7AWJZA87PD25DKT8      Elyse      Tasch  4.663189e+09
999  01JSJW8J9WJ5J2TPY10N96S9QT       Gabi       Geri  8.513287e+09

          gender   age                         email                address   \
0    Genderqueer  58.0         rfrancesch0@state.gov          5 Coleman Hill
2         Female  25.0           eslimm2@gizmodo.com                     NaN
3         Female  86.0         shugett3@edublogs.org       3213 Heath Circle
5           Male  60.0                rcovert5@51.la     6676 Daystar Avenue
6         Female  81.0         hdarrel6@buzzfeed.com       0 Superior Circle
..           ...   ...                           ...                     ...
991         Male  79.0  wfeldhornrj@miitbeian.gov.cn       9228 Vernon Point
992     Bigender  65.0            ofintophrk@nyu.edu                     NaN
993       Female  95.0               ehanrl@lulu.com       7031 Kinsman Pass
994       Female  77.0             etaschrm@yale.edu  00707 Old Shore Avenue
999         Male  27.0             ggerirr@weibo.com      60 Fairfield Place

             phone           major   gpa  attendance_rate  \
0    (161) 8707438    Architecture  2.80             73.0
2    (464) 6044481  Administration  0.76              NaN
3    (499) 4575315     Engineering  1.52             75.0
5    (647) 4899125         Student  3.84             73.0
6    (542) 7605201  Administration  1.00              NaN
..             ...             ...   ...              ...
991            NaN    Architecture  3.65             73.0
992  (985) 1493219             Law  0.36             65.0
993  (363) 2868600    Architecture  1.42             58.0
994  (575) 9021439         Student  2.70              NaN
999  (727) 1749788             Law   NaN            100.0

    mental_health_status  study_hours_per_week  extracurricular_participation  \
0                   Good                   22.0                          True
2                    NaN                   30.0                          True
3                    Bad                    NaN                          True
5                   Good                   14.0                          True
6                    Bad                    5.0                         False
..                   ...                    ...                           ...
991                 Good                   36.0                         False
992                  Bad                   33.0                          True
993              Average                    NaN                          True
994                 Good                   23.0                         False
999                  NaN                    NaN                          True

    scholarship  internet_access   sleep_hours_per_night
0          False              NaN                    NaN
2           True            False                   12.0
3           True             True                    9.0
5          False              NaN                    3.0
6          False            False                   11.0
..           ...              ...                    ...
991        False             True                   10.0
992          NaN            False                    NaN
993        False            False                    1.0
994        False            False                   10.0
999         True            False                    2.0

[802 rows x 18 columns]
numero de filas nulas: 802
Índices de las filas nulas: [0, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 67, 68, 69, 70, 71, 73, 74, 77, 78, 80, 81, 82, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 99, 100, 101, 104, 106, 107, 109, 110, 111, 113, 114, 115, 117, 118, 119, 120, 121, 122, 123, 125, 126, 128, 129, 133, 135, 137, 138, 140, 141, 142, 145, 146, 147, 148, 149, 151, 152, 154, 155, 158, 159, 160, 162, 163, 164, 165, 166, 167, 168, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 181, 182, 184, 185, 186, 188, 189, 190, 191, 192, 193, 194, 195, 196, 198, 199, 200, 201, 204, 205, 207, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 228, 229, 230, 231, 232, 233, 234, 235, 238, 239, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 256, 257, 258, 259, 260, 262, 263, 264, 265, 266, 267, 268, 270, 271, 272, 273, 275, 276, 278, 279, 280, 281, 284, 285, 286, 288, 289, 290, 292, 293, 294, 296, 297, 298, 300, 301, 302, 303, 304, 306, 307, 308, 309, 311, 312, 314, 315, 316, 317, 318, 319, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 351, 353, 354, 355, 357, 361, 362, 363, 364, 365, 366, 367, 368, 371, 373, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 390, 391, 392, 393, 394, 395, 396, 398, 399, 400, 402, 403, 404, 407, 409, 410, 414, 415, 416, 417, 418, 419, 420, 421, 424, 425, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 440, 441, 443, 444, 445, 446, 447, 448, 451, 453, 454, 455, 456, 457, 458, 460, 462, 463, 464, 465, 466, 467, 468, 469, 471, 472, 474, 475, 476, 477, 479, 481, 482, 483, 484, 485, 486, 490, 491, 492, 493, 494, 495, 497, 498, 499, 501, 502, 503, 504, 505, 506, 507, 508, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 521, 522, 523, 524, 527, 528, 531, 532, 534, 535, 536, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 552, 553, 554, 555, 556, 557, 559, 560, 561, 562, 563, 564, 565, 566, 568, 570, 572, 573, 574, 575, 576, 578, 579, 580, 581, 583, 584, 585, 586, 587, 588, 590, 591, 592, 593, 594, 595, 596, 597, 599, 601, 602, 603, 604, 610, 612, 613, 614, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 627, 628, 629, 631, 632, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 646, 647, 649, 650, 651, 652, 653, 654, 655, 656, 657, 659, 660, 661, 662, 663, 664, 665, 666, 667, 669, 670, 671, 672, 674, 675, 676, 677, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 696, 697, 698, 699, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 715, 717, 718, 719, 721, 722, 723, 724, 726, 727, 728, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 755, 756, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 778, 779, 780, 781, 783, 785, 786, 787, 788, 789, 790, 791, 793, 795, 796, 799, 800, 802, 803, 804, 805, 807, 808, 809, 811, 812, 815, 816, 817, 818, 819, 820, 821, 823, 824, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 837, 838, 839, 840, 841, 843, 845, 846, 848, 850, 851, 852, 853, 854, 855, 857, 859, 860, 861, 862, 863, 864, 865, 868, 869, 870, 871, 872, 873, 874, 875, 876, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 889, 890, 891, 892, 893, 895, 896, 898, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 919, 920, 921, 922, 923, 924, 926, 927, 928, 929, 930, 931, 932, 934, 935, 936, 937, 938, 939, 940, 941, 942, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 962, 963, 964, 966, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 986, 987, 988, 989, 990, 991, 992, 993, 994, 999]

Valores ausentes en las columnas del DF

In [ ]:
# Verificar valores ausentes en todas las columnas
df.isnull().sum()

student_ulid                      20
first_name                         0
last_name                         31
student_id                        22
gender                            18
age                               27
email                            118
address                          208
phone                            167
major                             33
gpa                               58
attendance_rate                  113
mental_health_status              93
study_hours_per_week             167
extracurricular_participation     58
scholarship                       50
internet_access                   94
sleep_hours_per_night            193
dtype: int64

Análisis de registros válidos

In [ ]:
# Porcentaje de valores válidos por columna
valid_values_percentage = df.notnull().sum() / len(df) * 100
print(valid_values_percentage)

student_ulid                      98.0
first_name                       100.0
last_name                         96.9
student_id                        97.8
gender                            98.2
age                               97.3
email                             88.2
address                           79.2
phone                             83.3
major                             96.7
gpa                               94.2
attendance_rate                   88.7
mental_health_status              90.7
study_hours_per_week              83.3
extracurricular_participation     94.2
scholarship                       95.0
internet_access                   90.6
sleep_hours_per_night             80.7
dtype: float64

In [ ]:
# Revisar si existen edades fuera de un rango razonable (ejemplo: menores de 16 o mayores de 99)
invalid_ages = df[(df['age'] < 16) | (df['age'] > 99)]
print(f"Registros con edades fuera de rango:\n{invalid_ages}")

# Verificar valores erróneos en género (ejemplo: valores que no sean 'Male' o 'Female')
invalid_gender = df[~df['gender'].isin(['Male', 'Female'])]
print(f"Valores erróneos en la columna 'gender':\n{invalid_gender}")

Registros con edades fuera de rango:
Empty DataFrame
Columns: [student_ulid, first_name, last_name, student_id, gender, age, email, address , phone, major, gpa, attendance_rate, mental_health_status, study_hours_per_week , extracurricular_participation, scholarship , internet_access , sleep_hours_per_night]
Index: []
Valores erróneos en la columna 'gender':
                   student_ulid first_name    last_name    student_id  \
0    01JSJW8GB9GFDGKT3R63J7NWSM      Reeba    Francesch  2.296751e+08
8    01JSJW8GBQ22DPE7XKE29M5EHD     Giusto        Minci  9.685291e+09
12   01JSJW8GBYWEV4FDZNBRXF7KM8     Bobina       Heenan  4.896290e+08
25   01JSJW8GCJ17E8BT73X4MWCFXJ   Chloette         Bole  1.564952e+09
31   01JSJW8GCXDKS0AEPM0D275TSF      Jayme       Thresh  3.985757e+08
..                          ...        ...          ...           ...
959  01JSJW8J61DC7R20EZBEZZHHRG      Drusi      Jagiela  4.264773e+09
983  01JSJW8J847BH5RR345YVPE0KW       Wain  Cuthbertson  2.240811e+08
987  01JSJW8J8BCE8J2V0HQZFJDBGN      Kirby      Ummfrey  6.058202e+09
989  01JSJW8J9A7QMW20QS1TD87951    Nicolis      Lassell  5.633034e+09
992  01JSJW8J9F3S34NZ5VENKV3W46     Odelia      Fintoph  2.372893e+09

          gender   age                       email                address   \
0    Genderqueer  58.0       rfrancesch0@state.gov          5 Coleman Hill
8     Polygender  75.0            gminci8@about.me        6773 Debra Trail
12      Bigender  72.0    bheenanc@theatlantic.com      41221 Rigney Trail
25       Agender  50.0         cbolep@japanpost.jp                     NaN
31    Polygender  62.0            jthreshv@home.pl    2 Magdeline Crossing
..           ...   ...                         ...                     ...
959     Bigender  32.0        djagielaqn@google.ru                     NaN
983   Polygender  57.0   wcuthbertsonrb@cpanel.net                     NaN
987          NaN  52.0     kummfreyrf@sakura.ne.jp  457 Summer Ridge Alley
989      Agender  79.0  nlassellrh@list-manage.com  6836 Forest Dale Alley
992     Bigender  65.0          ofintophrk@nyu.edu                     NaN

             phone           major   gpa  attendance_rate  \
0    (161) 8707438    Architecture  2.80             73.0
8              NaN         Student  2.72             71.0
12   (661) 3303958  Administration  2.77              NaN
25   (563) 9557195             Law  1.41             84.0
31   (531) 4010605  Administration  0.56             58.0
..             ...             ...   ...              ...
959  (810) 9989482        Medicine  2.39             50.0
983            NaN    Architecture  2.63             73.0
987            NaN     Engineering  3.79             73.0
989            NaN  Administration  1.58             78.0
992  (985) 1493219             Law  0.36             65.0

    mental_health_status  study_hours_per_week  extracurricular_participation  \
0                   Good                   22.0                          True
8                   Good                    NaN                          True
12                  Good                    4.0                          True
25                   Bad                    4.0                         False
31                   Bad                    NaN                           NaN
..                   ...                    ...                           ...
959                 Good                   15.0                          True
983              Average                   12.0                          True
987                  NaN                    4.0                         False
989                  Bad                    3.0                          True
992                  Bad                   33.0                          True

    scholarship  internet_access   sleep_hours_per_night
0          False              NaN                    NaN
8          False            False                    6.0
12          True             True                    8.0
25         False             True                    7.0
31         False            False                    4.0
..           ...              ...                    ...
959          NaN            False                   12.0
983         True            False                    1.0
987         True            False                    2.0
989         True             True                   10.0
992          NaN            False                    NaN

[106 rows x 18 columns]

##Estadisticas descriptivas por variables Categóricas

In [ ]:
#Analisis de columnas de variables categóricas

categoricas = df.select_dtypes(include=["object", "category", "bool"])
print("Columnas Categoricas:", categoricas.columns.tolist())

Columnas Categoricas: ['student_ulid', 'first_name', 'last_name', 'gender', 'email', 'address ', 'phone', 'major', 'mental_health_status', 'extracurricular_participation', 'scholarship ', 'internet_access ']

### Estadisticas descriptivas por variables Numéricas

Seleccionamos las columnas Numéricas, identificando las mismas por el tipo de dato

In [ ]:
numericas = df.select_dtypes(include=["int64", "float64"])
print("Columnas numéricas:", numericas.columns.tolist())

Columnas numéricas: ['student_id', 'age', 'gpa', 'attendance_rate', 'study_hours_per_week ', 'sleep_hours_per_night']

Calculamos el **Desvio Estandar** de estas columnas

In [ ]:
desvios = numericas.std()  # Desvío estándar muestral (ddof=1)
print(desvios)

student_id               2.935483e+09
age                      2.369226e+01
gpa                      1.161729e+00
attendance_rate          1.468651e+01
study_hours_per_week     1.181829e+01
sleep_hours_per_night    3.517193e+00
dtype: float64

Calculamos la **Media**

In [ ]:
media = numericas.mean()
print(media)

student_id               5.017482e+09
age                      5.914697e+01
gpa                      1.958535e+00
attendance_rate          7.464713e+01
study_hours_per_week     2.037455e+01
sleep_hours_per_night    6.535316e+00
dtype: float64

Calculamos la **Mediana**

In [ ]:
mediana = numericas.median()
print(mediana)

student_id               4.932404e+09
age                      6.000000e+01
gpa                      1.950000e+00
attendance_rate          7.500000e+01
study_hours_per_week     2.100000e+01
sleep_hours_per_night    7.000000e+00
dtype: float64

Cuenta **valores nulos** por columna

In [ ]:
print(numericas.isnull().sum())

student_id                22
age                       27
gpa                       58
attendance_rate          113
study_hours_per_week     167
sleep_hours_per_night    193
dtype: int64

Número de **valores únicos** por columna

In [ ]:
print(numericas.nunique())

student_id               978
age                       82
gpa                      360
attendance_rate           51
study_hours_per_week      41
sleep_hours_per_night     12
dtype: int64

Cantidad de **valores válidos sobre el total**

In [ ]:
# Total de filas incluyendo las NaN
total = numericas.shape[0]

# Conteo de valores no nulos por columna
valores_validos = numericas.count()

# Cociente
cociente = valores_validos / total
print(cociente)

student_id               0.978
age                      0.973
gpa                      0.942
attendance_rate          0.887
study_hours_per_week     0.833
sleep_hours_per_night    0.807
dtype: float64

In [ ]:
#Analisis de columnas de variables categóricas

categoricas = df.select_dtypes(include=["object", "category", "bool"])
print("Columnas Categoricas:", categoricas.columns.tolist())

Columnas Categoricas: ['student_ulid', 'first_name', 'last_name', 'gender', 'email', 'address ', 'phone', 'major', 'mental_health_status', 'extracurricular_participation', 'scholarship ', 'internet_access ']

Cantidad de **valores no nulos**

In [ ]:
print(categoricas.count())

student_ulid                      980
first_name                       1000
last_name                         969
gender                            982
email                             882
address                           792
phone                             833
major                             967
mental_health_status              907
extracurricular_participation     942
scholarship                       950
internet_access                   906
dtype: int64

Cantidad de **valores válidos sobre el total**

In [ ]:
# Total de filas incluyendo las NaN
total = categoricas.shape[0]

# Conteo de valores no nulos por columna
valores_validos = categoricas.count()

# Cociente
cociente = valores_validos / total
print(cociente)

student_ulid                     0.980
first_name                       1.000
last_name                        0.969
gender                           0.982
email                            0.882
address                          0.792
phone                            0.833
major                            0.967
mental_health_status             0.907
extracurricular_participation    0.942
scholarship                      0.950
internet_access                  0.906
dtype: float64

Cantidad de valores nulos

In [ ]:
print(categoricas.isnull().sum())

student_ulid                      20
first_name                         0
last_name                         31
gender                            18
email                            118
address                          208
phone                            167
major                             33
mental_health_status              93
extracurricular_participation     58
scholarship                       50
internet_access                   94
dtype: int64

## Conclusiones preliminares

- Se identificaron valores faltantes en varias columnas, entre ellas: `email`, `phone`, `mental_health_status` y `gpa`.
- Se detectaron valores atípicos, como edades menores a 16 años, que podrían indicar errores en el registro.
- La mayoría de las variables categóricas presentan categorías bien definidas, aunque en la variable `gender` se hallaron registros inconsistentes o mal tipificados.
- La columna `major` contiene una amplia diversidad de carreras, con una distribución desigual entre ellas.